/* https://unsplash.com/photos/jVRQ20B41Mo */

/* bg color*/
.bg-white-paper {
  background-color: #eae8e7;
}
/* bg-white from bootstrap*/

.bg-neutral-brown {
  background-color: #87806c;
}
.bg-dark-brown {
  background-color: #523a1d;
}
.bg-light-brown {
  background-color: #906e4e;
}
/* text color*/
.text-black {
  color: black;
}
.text-shadow {
  color: #808080;
}
.text-shadow-white {
  color: #cfcfcf;
}
.text-hover-shadow-white:hover {
  color: #cfcfcf;
}
/* .text-white from bootstrap*/

.text-light-brown {
  color: #906e4e;
}
.text-neutral-brown {
  color: #87806c;
}
.text-dark-brown {
  color: #523a1d;
}

/* cursor */
.cursor-pointer {
  cursor: pointer;
}

/* no select */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

/* border y axis */
.border-y-solid-1 {
  border-top: black solid 1px;
  border-bottom: black solid 1px;
}

/* index 10 to 50 */
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-30 {
  z-index: 30;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}

/* margin top for main */
.mt-7-5vh {
  margin-top: 7.5vh;
}
.h-75vh {
  height: 7.5vh;
}

/* vertical text */
.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* ling clamp, overflow hidden */
.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.margin-center {
  margin: 0 auto;
}

.hover-scale-110:hover {
  transform: scale(1.1);
}

/* custom border shadow*/
.custom-border-top {
  border-top: solid 1px #eae8e73a;
}

@media (min-width: 768px) {
  .custom-border-md-top-0 {
    border-top: solid 0px red !important;
  }
}
