/* Don't repeat yourself pattern */
.category1 {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.company-information {
  height: 100%;
}

.carousel-model {
  height: 100%;
}
.img-hover:hover {
  background-color: black;
}

/* 2 */
.category2 {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-information {
  height: 100%;
}

.carousel-product {
  height: 100%;
}

/* xl bootstrap breakpoint */
@media (min-width: 1200px) {
  .category1 {
    height: 63%;
    flex-direction: row;
  }

  .company-information {
    width: 45%;
    height: 100%;
  }

  .carousel-model {
    width: 55%;
    height: 100%;
  }
  .category2 {
    height: 37%;
    display: flex;
    flex-direction: row;
  }

  .product-information {
    width: 48%;
    height: 100%;
  }

  .carousel-product {
    width: 52%;
    height: 100%;
  }
  .product-information1 {
    width: 50%;
  }
  .product-information2 {
    width: 50%;
  }
  .carousel-product1 {
    width: 50%;

    /* temp */
    background-color: blue;
  }
  .carousel-product2 {
    width: 50%;
  }
}

/* @media (min-width: 992px) {
} */
