.nav-container {
  width: 100%;
  max-width: 1636px;
  /* common resolution 1920×1080 */
  margin: 0 auto;
}

.h-7-5vh {
  height: 7.5vh;
}

.menu-sm-hide {
  transform: translateY(-200px);
}
.menu-sm-show {
  transform: translateY(0);
}
/* animation */
/* animation open */
@keyframes slideInTopStart {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translate(0);
  }
}
.menu-sm-animation-start {
  animation: slideInTopStart 0.3s ease;
}

/* animation close */
@keyframes slideInTopClose {
  from {
    transform: translate(0);
  }
  to {
    transform: translateY(-200px);
  }
}
.menu-sm-animation-close {
  animation: slideInTopClose 0.2s ease-in-out;
}

/* link animation when hover */
.link-animation::before {
  transition: 300ms;
  height: 4px;
  content: "";
  position: absolute;
  background-color: #523a1d;

  width: 0%;
  bottom: -4px;
}

.link-animation:hover::before {
  width: 100%;
}

.link-animation:hover {
  color: #523a1d !important;
}

/* todo change the nav into X then add another animation to close the menu */
